@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    background-color: rgb(231, 238, 239);
}
.top {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: rgb(31, 25, 10);
}
.header {
    width: 201px;
    height: 76px;
    margin-left: 117px;
    margin-top: 10px;
    position: sticky;

}

.intro {
    display: flex;
}
.image_content {
    width: 512px;
    height: 514px;
    margin-top: 132px;
    margin-left: 50px;
    margin-right: 50px;

}
.text_container {
    width: 562px;
    height: 377px;
    margin-top: 201px;
    margin-left: 50px;
    text-align:left;

}
h1 {
    line-height: 1.4;
    font-weight: 300;
    font-size: 70px;
    margin-bottom: 10px;
}
.text_container tag{
    background-color: #149f39;
    align-self: flex-start;
    padding: 5px 10px;
    color: white;
}

button {
    margin-top: 40px;
    background-color: #ffc066;
    padding: 10px 15px;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
}

.services {
    display: flex;
    align-items: center;
    margin-top: 78px;
}
.voucher ,.food ,.delivery {
    display: flex;
    text-align: auto;
    gap: 20px;
    padding: 20px;
}
.divider {
    border: 1px solid #ccc;
    margin: 20px 0px;
}
/* .menu {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.explore_menu {
    margin-top: 50px;
}
.multi-img {
    width: 900px;
     display: grid;
 } */
  .menu {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 50px 0px;
        align-items: center;

  }

  .menu .tag {
    align-self: center;
    background-color: #149f39;
  }

  .grid {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "i1 i1 i2 i3"
    "i1 i1 i2 i7"
    "i4 i5 i6 i7";
}
.item1 {
    grid-area: i1;
}
.item2 {
    grid-area: i2;
}
.item3 {
    grid-area: i3;
}
.item4 {
    grid-area: i4;
}
.item5 {
    grid-area: i5;
}
.item6 {
    grid-area: i6;
}
.item7 {
    grid-area: i7;
}
 

.footer {
    background-color: grey;
    align-items: center;
    display: flex;
    margin-top: 60px;
    gap: 60px;
}
.end_logo {
    width: 300px;
    height: 100px;
    margin: 60px 80px;
}
h2 {
    padding: 20px;
}